/* General body styling */
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffface;
}

/* Style for headers */
h1, h2 {
    margin: 0;
    padding: 0;
    color: #205E79;
}

/* Style for header */
h1 {
    font-size: 40px;
    text-align: center;
}

/* Style for subheader */
h2 {
    font-size: 30px;
    line-height: 1;
}

/* Outer Border */
div.border1, div.border2 {
    display: flex;
    background: #B9D5E1;
    border: 5px solid #B9D5E1;
    width: 85%;
    margin: 2em auto;
    padding: 2em;
    border-radius: 20px;
    align-items: flex-start;
}

/* Style for the information container */
.info-section {
    flex: 1;
    color: #063c54;
    width: 75%;
}

/* Style for the content */
.info-content {
    padding-left: 2em;
    text-align: left;
    width: 98%;
}

/* Style for the subheader */
.info-content h2 {
    font-size: 27px;
    margin-bottom: 10px;
}

/* Style for the paragraph and list item */
.info-content p, .info-content li {
    font-size: 20px;
    line-height: 1.6;
    padding-right: 3em;
}

/* Style for the list item */
.info-content li {
    padding-left: 2em;
}

/* Style for the button */
.button {
    border: none;
    color: #205E79;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding-left: 6em;
}

/* Effect for the button */
.button:hover {
    color: #4990ae;
}

/* General body styling */
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffface;
}

/* Style for All headers */
h1, h2 {
    margin: 0;
    padding: 0;
    color: #205E79;
}

/* Style for header */
h1 {
    font-size: 40px;
    text-align: center;
}

/* Style for subheader */
h2 {
    font-size: 30px;
    line-height: 1;
}

/* Outer Border */
div.border1, div.border2 {
    display: flex;
    background: #B9D5E1;
    border: 5px solid #B9D5E1;
    width: 85%;
    margin: 2em auto;
    padding: 2em 2em 2em 0;
    border-radius: 20px;
    align-items: flex-start;
}

/* Style for the information container */
.info-section {
    flex: 1;
    color: #063c54;
    width: 75%;
}

/* Style for informations within the border */
.info-content {
    padding-left: 2em;
    text-align: left;
    width: 98%;
}

/* Style for subheader */
.info-content h2 {
    font-size: 27px;
    margin-bottom: 10px;
}

/* Style for the paragraph */
.info-content p {
    font-size: 20px;
    line-height: 1.6;
    padding-right: 3em;
}

/* Style for the button */
.button {
    border: none;
    color: #205E79;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding-left: 6em;
}

/* Effect for the button */
.button:hover {
    color: #4990ae;
}
