/* General body styling */
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffface;
}

/* Style for the nav bar */
.menu {
    background-color: #2E7FA2;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center;
}

/* Style for the logo image in the nav bar */
.logo, .cart {
    height: 40px;
    width: auto;
}

/* Style for the cart image in the nav bar */
.cart {
    height: 25px;
}

/* Style for the information inside the nav bar */
.menu a {
    color: #B9D5E1;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: bold;
}

/* Effect for the nav bar when hovered */
.menu a:hover {
    background-color: #225e78;
    border-radius: 4px;
}

/* Style for the search bar */
.search-bar {
    display: flex;
    align-items: center;
}

/* Style for the input in the search bar */
.search-bar input[type="text"] {
    background-color: #B9D5E1;
    border: 1px solid #B9D5E1;
    color: #196180;
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    outline: none;
}

/* Style for the placeholder in the search button */
.search-bar input::placeholder {
    color: #196180;
    opacity: 0.8;
}

/* Style for the search bar button */
.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #196180;
    color: #B9D5E1;
    border-radius: 4px;
    cursor: pointer;
}

/* Effect for the search bar when hovered */
.search-bar button:hover {
    background-color: #063245;
    color: #8dc5dc;
}

/* Style for the number beside the cart */
.cart-count {
    position: absolute;
    top: 15px; 
    right: 3%; 
    color: white;
    font-size: 14px;
    border-radius: 50%;
    display: inline-block;
}

/* Style for the header */
h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ba9424;
}

/* Style for the picture in the header */
.picture {
    position: relative;
    width: 100%;
    height: 10em;
    background-image: url('Pictures/contact bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Overlay Style for the picture */
.picture .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust darkness with the alpha value */
    z-index: 1;
}

/* Text in the picture */
.picture h1 {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 48px;
    margin: 0;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* General Style for the Container in the Business Hours */
.parent-container {
    display: flex; 
    justify-content: space-around; 
    gap: 1em; 
    align-items: flex-start; 
    width: 77%;
    margin: 2em auto;
}

/* Style for the Containers */
.container1, .container2 {
    width: 25%;
    padding: 2em; 
    margin: 0; 
    border-radius: 20px; 
    background: #ba9424; 
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
}

/* Style for the Information inside the Containers */
.container1 h2, .container1 p, .container2 h2, .container2 p {
    display: inline-block; 
    margin: 0 10px; 
    vertical-align: middle; 
}

/* Style for the Information Header inside the Containers */
.container1 h2, .container2 h2 {
    margin-left: 1em;
}

/* Style for the Information Paragraph inside the Containers */
.container1 p, .container2 p {
    font-size: 20px;
}

/* Outer Border */
div.border1 {
    display: flex;
    flex-direction: row;
    background: #B9D5E1;
    border: 5px solid #154B63;
    height: auto; 
    width: 77%;
    margin: 2em auto; 
    padding: 2em;
    padding-right: 0;
    border-radius: 20px;
    align-items: flex-start;
}

/* Style for the information container */
.info-section {
    flex: 1;
    color: #063c54;
    width: 75%;
    float: right;
}

/* Style for informations within the border */
.info-content {
    padding-left: 2em;
    text-align: left;
    width: 98%; 
}

/* Style for the heading */
.info-content h2 {
    font-size: 27px;
    margin-bottom: 10px;
}

/* Style for the paragraph */
.info-content p {
    padding-right: 3em;
    font-size: 20px;
    line-height: 1.6;
}

/* Style for the list items */
.info-content li {
    padding-left: 2em;
    padding-right: 3em;
    font-size: 20px;
}

/* Line style*/
hr {
    height: 2px; 
    width: 80%;
    background-color: #ba9424; 
    margin: 0 auto;
}

/* Style for the Container */
.container {
    width: 5em;
    background-color: #205E79;
    border: none;
    text-align: left; 
}

/* Style for the Follow Us section */
.follow_us {
    text-align: left;
    padding-bottom: 10px;
}

/* Style for the paragraph */
.contact_us p {
    color: #063c54;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px; 
    height: 1em;
}

/* Style for the links */
.follow_us a {
    color: #063c54;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px; 
    height: 2.3em;
}

/* Effect on the links */
.follow_us a:hover {
    color: #B9D5E1;
    text-decoration: underline;
}

/* Style for the icon */
.follow_us img, .contact_us img {
    width: 40px;
    height: 40px;
    filter: sepia(1) saturate(1000%) hue-rotate(190deg) brightness(1.1);
}

/* Container for the form */
.form-container {
    max-width: 30em;
    padding: 30px;
    margin-top: 25px;
    border-radius: 20px;
    border: 2px solid #154B63;
    background-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the Input fields */
.form-container input[type="text"], .form-container input[type="email"], .form-container textarea {
    width: 95.5%;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 2px solid #154B63;
    border-radius: 20px;
    background-color: transparent;
    color: #154B63;
    font-size: 16px;
}

/* Style for the Placeholder */
.form-container input::placeholder, .form-container textarea::placeholder {
    color: #154B63;
}

/* Submit button */
.form-container button {
    width: 25%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #154B63;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effect for the Submit Button */
.form-container button:hover {
    background-color: #1b6a8c;
}

.faq-section {
    max-width: 900px;
    margin: 0 auto;
}
  
.faq-category {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}
  
.faq-category-btn {
    width: 100%;
    padding: 10px;
    background: #ba9424;
    color: white;
    text-align: left;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
  
.faq-category-btn:hover {
    background: #96740e;
}
  
.faq-items {
    display: none;
    padding: 10px;
    border: 2px solid #ba9424;
    background: white;
    border-radius: 0 0 5px 5px;
}
  
.faq-item {
    margin-bottom: 10px;
}
  
.faq-question {
    width: 100%;
    padding: 10px;
    background: #e7c354;
    color: #7d610f;
    border: none;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
  
.faq-question:hover {
    background: #c49a1c;
}
  
.faq-answer {
    display: none;
    padding: 10px;
    background: #f3db93;
    border-left: 3px solid #7d610f;
    color: #7d610f;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}
  