/* General body styling */
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffface;
}

/* Style for the nav bar */
.menu {
    background-color: #2E7FA2;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center;
}

/* Style for the logo image in the nav bar */
.logo, .cart {
    height: 40px;
    width: auto;
}

/* Style for the cart image in the nav bar */
.cart {
    height: 25px;
}

/* Style for the information inside the nav bar */
.menu a {
    color: #B9D5E1;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: bold;
}

/* Effect for the nav bar when hovered */
.menu a:hover {
    background-color: #225e78;
    border-radius: 4px;
}

/* Style for the search bar */
.search-bar {
    display: flex;
    align-items: center;
}

/* Style for the input in the search bar */
.search-bar input[type="text"] {
    background-color: #B9D5E1;
    border: 1px solid #B9D5E1;
    color: #196180;
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    outline: none;
}

/* Style for the placeholder in the search button */
.search-bar input::placeholder {
    color: #196180;
    opacity: 0.8;
}

/* Style for the search bar button */
.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #196180;
    color: #B9D5E1;
    border-radius: 4px;
    cursor: pointer;
}

/* Effect for the search bar when hovered */
.search-bar button:hover {
    background-color: #063245;
    color: #8dc5dc;
}

/* Style for the number beside the cart */
.cart-count {
  position: absolute;
  top: 15px; 
  right: 3%; 
  color: white;
  font-size: 14px;
  border-radius: 50%;
  display: inline-block;
}

/* Container for border elements */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #195f7c;
    border: 5px solid #195f7c;
    width: 77%;
    margin: 2% auto;
    gap: 10px;
    padding: 2% 0;
    border-radius: 20px;
}

/* Inner Border Styles */
.box1, .box4 {
    background-color: #ffface;
    margin: 0;
    width: 35%;
    height: 20em;
    padding: 1%;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Inner Border Styles */
.box4 {
    border-radius: 20px 0 0 20px;
}

/* Center Border Styles */
.box2, .box5 {
    background-color: #B9D5E1;
    color: #447F99;
    text-align: center;
    font-size: 40px;
    width: 90%;
    padding: 0 4% 15%;
    border-radius: 20px;
}

/* Style for Headers */
.box2 h1, .box5 h1 {
    padding: 30% 0 2.5%;
    line-height: 1.2;
    margin: 0;
}

/* Style for the container of the slides */
.slides-container, .slides-container1, .slides-container2 {
    position: relative;
    width: 65%;
    height: 21.5em;
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(to right, #d1ac34, #ffface);
}

/* Style for the slides */
.info-slide, .info-slide1, .info-slide2 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}

.info-slide.active, .info-slide1.active, .info-slide2.active {
    left: 0;
    transform: translateX(0);
    opacity: 1;
}

.info-slide:not(.active), .info-slide1:not(.active), .info-slide2:not(.active) {
    transform: translateX(-100%);
    opacity: 0;
}

/* Style for the images in the slide */
.info-slide img, .info-slide1 img, .info-slide2 img {
    flex-shrink: 0;
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    padding-bottom: 2em;
}

.info-slide1 img {
    margin-right: 1.5em;
}

/* Style for the Content */
.info-content, .info-content1, .info-content2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    width: 55%;
    color: #000;
    padding-bottom: 2em;
    margin-right: 1.5em;
}

.info-content1 {
    text-align: left;
    margin-left: 1.5em;
}

/* Style for the Subheader */
.info-content h2, .info-content1 h2, .info-content2 h2 {
    font-size: 27px;
    margin-bottom: 0;
}

/* Style for the paragraph */
.info-content p, .info-content1 p, .info-content2 p {
    font-size: 17px;
    margin-bottom: 22px;
}

/* View Info link styling */
.view_info, .view_info1, .view_info2 {
    align-self: flex-end;
    background-color: #d1ac34;
    color: #ffface;
    padding: 10px 20px;
    font: bold 16px/1 sans-serif;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.view_info1 {
    align-self: flex-start;
}

.view_info:hover, .view_info1:hover, .view_info2:hover {
    background-color: #9a790c;
    color: #e9df88;
}

.view_more, .view_more1, .view_more2 {
    display: inline-block; 
    text-decoration: none; /* Removes underline from links */
    color: #fff; /* Text color */
    background-color: #007BFF; /* Background color */
    padding: 10px 20px; /* Padding for button-like appearance */
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold; /* Bold text */
    text-align: center; 
    background-color: #447F99;
    color: #B9D5E1;
    transition: background-color 0.3s ease; 
}

.view_more:hover, .view_more1:hover, .view_more:hover {
    color: #B9D5E1;
    background-color: #0d3a4e; 
}

/* Line style */
hr {
    height: 2px; 
    width: 77%;
    background-color: #205E79; 
    margin: 0 auto;
}

/* Line style inside the contacts */
.container {
    height: 2px;
    width: 10em;
    background-color: #B9D5E1;
    border: none;
}

/* Contacts section styling */
.contacts {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    background: #447F99;
    color: #B9D5E1;
    font-size: 20px;
}

/* Follow Us section styling */
.follow_us {
    text-align: left;
    padding-bottom: 10px;
}

/* Style in Link info's */
.infos a, .follow_us a, .contact_us p {
    color: #B9D5E1;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px; 
}

/* Effect for links */
.infos a:hover, .follow_us a:hover {
    text-decoration: underline;
}

/* Style for Icons */
.follow_us img, .contact_us img {
    width: 40px;
    height: 40px;
    filter: sepia(1) saturate(1000%) hue-rotate(190deg) brightness(1.1);
}

/* Style for Footer */
footer {
    background-color: #275A70;
    color: #FFF;
    text-align: center;
    padding-bottom: 5px; 
    margin-top: 0;
}
