/* General body styling */
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffface;
}

/* Style for the nav bar */
.menu {
    background-color: #2E7FA2;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center;
}

/* Style for the logo image in the nav bar */
.logo, .cart {
    height: 40px;
    width: auto;
}

/* Style for the cart image in the nav bar */
.cart {
    height: 25px;
    padding-top: 7px;
}

/* Style for the information inside the nav bar */
.menu a {
    color: #B9D5E1;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: bold;
}

/* Effect for the nav bar when hovered */
.menu a:hover {
    background-color: #225e78;
    border-radius: 4px;
}

/* Style for the search bar */
.search-bar {
    display: flex;
    align-items: center;
}

/* Style for the input in the search bar */
.search-bar input[type="text"] {
    background-color: #B9D5E1;
    border: 1px solid #B9D5E1;
    color: #196180;
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    outline: none;
}

/* Style for the placeholder in the search button */
.search-bar input::placeholder {
    color: #196180;
    opacity: 0.8;
}

/* Style for the search bar button */
.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #196180;
    color: #B9D5E1;
    border-radius: 4px;
    cursor: pointer;
}

/* Effect for the search bar when hovered */
.search-bar button:hover {
    background-color: #063245;
    color: #8dc5dc;
}

/* Style for the General Container in the Nav Bar */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
}

/* Style for the nav bar */
.menu2 {
    display: flex;
    font-size: 20px;
    width: 77%;
    gap: 10%;
}

/* Style for the information inside the nav bar */
.menu2 a {
    color: #205E79;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px; 
    padding-left: 1.5em;
    font-weight: bold;
}

/* Effect for the nav bar when hovered */
.menu2 a:hover {
    text-decoration: underline;
    background-color: #225e78;
    color: #B9D5E1;
    border-radius: 4px;
}

/* Style for the logo image in the nav bar */
.logo2 {
    padding: 7px 2px 0 0;
    height: 16px;
    width: auto;
    filter: sepia(1) saturate(1000%) hue-rotate(190deg) brightness(1.1);
}

/* Style for the search bar */
.search-bar {
    display: flex;
    align-items: center;
}

/* Style for the input in the search bar */
.search-bar input[type="text"] {
    background-color: #B9D5E1;
    border: 1px solid #B9D5E1;
    color: #196180;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    margin-right: 5px;
}

/* Style for the placeholder in the search button */
.search-bar input::placeholder {
    color: #196180;
    opacity: 0.8;
}

/* Style for the search bar button */
.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #196180;
    color: #B9D5E1;
    border-radius: 4px;
    cursor: pointer;
}

/* Effect for the search bar when hovered */
.search-bar button:hover {
    background-color: #063245;
    color: #8dc5dc;
}

/* Style for the number beside the cart */
.cart-count {
    position: absolute;
    top: 15px; 
    right: 3%; 
    color: white;
    font-size: 14px;
    border-radius: 50%;
    display: inline-block;
    }

/* Style for the header */
h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #205E79;
}

/* Style for the picture in the header */
.picture {
    position: relative;
    width: 100%;
    height: 10em;
    background-image: url('header bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Overlay Style for the picture */
.picture .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust darkness with the alpha value */
    z-index: 1;
}

/* Text in the picture */
.picture h1 {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 48px;
    margin: 0;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Line style*/
hr {
    height: 2px; 
    width: 81%;
    background-color: #205E79; 
    margin: 0 auto;
}

/* Container for the shop items */
.shop_container {
    display: flex; 
    justify-content: center; 
    gap: 2em; 
    margin: 2em auto;
}

/* Outer Border of the Item */
.border1 {
    width: 15%; 
    border: 5px solid #154B63;
    border-radius: 20px; 
    background: #B9D5E1; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 1.5em;
    text-align: center; 
}

/* Style for informations within the border */
.info-section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

/* Style for the image */
.info-content img {
    width: 80%; 
    height: auto;
}

/* Style for informations within the border */
.info-content h2 {
    font-size: 1em;
    color: #154B63;
}

/* Style for the check info & prices */
.info-button {
    display: inline-block;
    padding: 5px 1em;
    text-align: center;
    color: #B9D5E1;
    background-color: #205E79;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Effect for the check info & prices */
.info-button:hover {
    background-color: #084159;
    color: #8cc1d7;
}

/* Style for the Container */
.container {
    height: 2px;
    width: 10em;
    background-color: #B9D5E1;
    border: none;
    margin: 5px 0;
}

/* Styles for the Contact */
.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    background: #447F99;
    color: #B9D5E1;
    font-size: 20px;
    padding: 20px;
}

/* Style for the Follow Us section */
.follow_us {
    text-align: left;
    padding-bottom: 10px;
}

/* Style for the links */
.infos a, .follow_us a, .contact_us p {
    color: #B9D5E1;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px; 
}

/* Style for the hover effect on links */
.infos a:hover, .follow_us a:hover {
    color: #B9D5E1;
    text-decoration: underline;
}

/* Style for the icon */
.follow_us img, .contact_us img {
    width: 40px;
    height: 40px;
    filter: sepia(1) saturate(1000%) hue-rotate(190deg) brightness(1.1);
}

/* Style for the footer */
footer {
    background-color: #275A70;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 5px; 
    margin-top: 0;
}