/* General Styling */
body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffface;
}

/* Shared Styles for Buttons and Links */
button, .menu a, .info-button2 {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

button:hover, .menu a:hover, .info-button2:hover {
    background-color: #084159;
    color: #8cc1d7;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navbar Styling */
.menu {
    background-color: #2E7FA2;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    text-align: center;
}

.menu a {
    color: #B9D5E1;
    padding: 5px 15px;
}

.logo, .cart {
    height: 40px;
    width: auto;
}

.cart {
    height: 25px;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    background-color: #B9D5E1;
    border: 1px solid #B9D5E1;
    color: #196180;
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    outline: none;
}

.search-bar input::placeholder {
    color: #196180;
    opacity: 0.8;
}

.search-bar button {
    background-color: #196180;
    color: #B9D5E1;
    padding: 5px 10px;
}

.search-bar button:hover {
    background-color: #063245;
    color: #8dc5dc;
}

/* Cart Count Styling */
.cart-count {
    position: absolute;
    top: 15px;
    right: 3%;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    display: inline-block;
}

/* Border Styling */
div.border1, .border2 {
    background: #B9D5E1;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

div.border1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #195f7c;
    width: 77%;
    margin: 2% auto;
    gap: 10px;
}

div.border1 img {
    width: 47%;
    height: auto;
}

.border2 {
    width: 15%;
    border: 5px solid #154B63;
    padding: 1.5em;
}

.info-content2 img {
    width: 80%;
    height: auto;
}

/* Information Section */
.info-section, .info-section2 {
    flex: 1;
    color: #063c54;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section {
    width: 75%;
    float: right;
}

.info-content, .info-content2 {
    text-align: center;
}

.info-content {
    padding-left: 2em;
    width: 98%;
}

.info-content2 h2, .info-content h2 {
    font-size: 1em;
    color: #154B63;
    margin-bottom: 10px;
    text-align: center;
}

.info-content p {
    padding-right: 3em;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

/* Shop Items */
.shop_container {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 2em auto;
}

.info-button2 {
    display: inline-block;
    padding: 5px 1em;
    background-color: #205E79;
    color: #B9D5E1;
    font-size: 13px;
    border-radius: 50px;
}

/* Actions */
.actions {
    margin-top: 20px;
    display: flex;
    align-self: flex-start;
    gap: 10px;
}

.actions button, .back-link {
    background-color: #2E7FA2;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 16px;
}

.actions button:hover, .back-link:hover {
    background-color: #115673;
}

/* Notification Styling */
.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.notification h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.notification a {
    background-color: #063245;
    font-size: 15px;
    font-weight: bold;
}

.notification button {
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

.notification button:hover {
    background-color: #357ab8;
}

.notification .close {
    position: absolute;
    color: black;
    top: 10px;
    right: 2px;
    padding: none;
    font-size: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

.notification .close:hover {
    background: none; 
    color: black; 
    cursor: pointer; 
}

.customize-link {
    background-color: #4a90e2;
    color: #fff;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.customize-link:hover {
    background-color: #357ab8;
}

.notification-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #357ab8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px); }
    10%, 90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
}
